{% extends '_base.html' %}
{% load static %}

{% block title %}Exposing S3!{% endblock title %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <!-- <img src="{% static 'images/logo.png' %}" class="img-fluid" alt="DjangoX logo"/>
  <p class="lead">A Django starter project with batteries.</p> -->
  <div class="table-responsive">
    <table class="table table-hover">
      <caption> Public S3 Buckets</caption>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Buckets</th>
          <th scope="col">Visibility Status</th>
        </tr>
      </thead>

      <tbody>
        {% for s3_info in data %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ s3_info.bucket }}</td>
            <td>{{ s3_info.visibility }}</td>
          </tr>

        {% empty %}
        <div class="container-xl">
          <h2>No buckets exists in S3!</h2>
        </div>
        <br/>

        {% endfor %}
      </tbody>
    </table>
  </div>
  
</div>
{% endblock content %}
